*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  max-width: 1440px;
  width: 70%;
  height: auto;
  background-color:hsl(0, 100%, 74%);
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 2%;
  padding: 20px 50px;
  background-image: url(./images/bg-intro-desktop.png);
  
}
.heading{
  width: 50%;

}

.heading h1{
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.1;
  color: white;
}
 .heading p{
  font-weight: 400;
  margin-top: 15px;
  font-size:13px;
  color: white;
}


/* FORM */
.verification{
  float: right;
  color: hsl(0, 100%, 74%);
}

.form{
  width: 49%;
 }

 .form button span{
  color:hsl(246, 25%, 77%) ;
 }
 .icon{
  position: relative;
  top: -35px;
  left: 300px;
 }

 button,input{
  padding: 15px 6px;
  border: none;
  outline: none;
  border-radius: 5px;
}

input{
  /* margin-bottom: 5px; */
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 600;
}
input:focus {
  border: 1px solid hsl(248, 32%, 49%);
}
form{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  color: black;
  background-color: white;
  padding:20px 20px 0 20px;
  border-radius: 7px;
  
}

.trial{
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  color: white;
  font-weight:600;
}

form button{
  background-color:  hsl(154, 59%, 51%);
  cursor: pointer;
  font-weight:600;
  color:white;
}
form button:hover{
  background-color:  hsl(154, 59%, 51%);
  opacity: 0.7;
}

form p{
  color:hsl(246, 25%, 77%) ;
  font-size:8px;
  padding: 10px 0 20px 0;
  margin: 0 auto;
}
form p span{
  color:hsl(0, 100%, 74%) ;
}


@media only screen and (max-width: 375px){
  .container{
    display: flex;
    flex-direction: column;
  }
  .icon{
    position: relative;
    top: -35px;
    left: 250px;
   }
  section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./images/bg-intro-mobile.png);
    padding: 0 20px;
  }
  .heading{
  width: 100%;

}
  .heading h1{
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.3;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
  .heading p{
    line-height: 1.5;
  font-size:14px;
  width: 80%;
  margin: 15px auto;
  text-align: center;
}

.form{
  width: 100%;
}
.trial{
  width: 100%;
  color: white;
  font-weight: 400;
}

}
 