*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.container{
  width: 100vw;
  height: 100vh;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  max-width: 1440px;
  width: 70%;
  height: 500px;
  background-color:  hsl(0, 100%, 74%) ;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 2%;
  padding: 0 70px;
  background-image: url(./images/bg-intro-desktop.png);
  
}
.heading{
  border: 1px solid #000;
  width: 49%;

}

.heading h1{
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.1;

}
 .heading p{
  font-weight: 400;
  margin-top: 15px;
  font-size:11px;

  border: 1px solid white;
}

/* FORM */
.form{
  width: 49%;
 }
 button,input{
  padding: 7px 6px;
  border: none;
  outline: none;
  border-radius: 5px;
}
input{
  margin-bottom: 15px;
  border: 1px solid hsl(248, 32%, 49%);
}
form{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  color: black;
  background-color: white;
  padding: 20px  15px 0 15px;
  
}

.trial{
  width: 100%;
}

form button{
  background-color:  hsl(154, 59%, 51%);

}
 