@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;;
}
main{
  background-color: hsl(0, 100%, 74%);
  background-image: url(images/bg-intro-desktop.png);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
}

#div-info{
  flex-basis: 50%;
  padding-left: 30px ;
}
#div-info h1{
  width: 70%;
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.1;
}
#div-info p{
  width: 100%;
  color: white;
  opacity: 0.7;
  line-height: 1.5;
  margin-top: 20px;
}

/* FORM */
#form-div{
  padding: 20px;
  flex-basis: 50%;
 }

/* trial button */
#div-trial{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:hsl(248, 32%, 49%);
  padding: 15px;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

#trial span{
  color: hsl(246, 25%, 77%);
}

#form-div input{
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border:1px solid hsl(246, 25%, 77%);
}

#form-div input:focus{
  outline: none;
}

#form-inputs{
  padding: 20px;
  background-color: white;
  border-radius: 7px;
}

/* submit button */
.submit{
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: hsl(154, 59%, 51%);
  border:1px solid  hsl(154, 59%, 51%);
  color: white;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
  font-weight:400;
}
.submit:focus{
  outline:none
}
.submit:hover{
  background-color: hsl(154, 59%, 51%);
  opacity: 0.6;
}

.agreement-text{
  color: hsl(246, 25%, 77%);
  width: 90%;
  padding: 5px;
  font-size: 0.7em;
  margin: 0 auto;
  text-align: center;
}

.agreement-text span{
  color:hsl(0, 100%, 74%);
}


@media screen and (max-width:800px) {
  main{
    background-image: url(images/bg-intro-mobile.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  
#div-info{
  padding-left: 0 ;
  flex-basis: 0;
}
#div-info h1{
  width: 70%;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px auto;
}
#div-info p{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  
}
#form-div{
  flex-basis: 0;
  /* margin: -50px 0 100px; */
}
.agreement-text{
  width: 100%;
}
}

/* JS STYLING */
.icon-div{
  position: relative;
}
.icon{
  position: absolute;
  left: 350px;
  top: -45px;
  width: 5%;
}

.deactivate{
  display: none;
}
.error{
  color:red;
  float:right;
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 0.7rem;
}